@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter-Light.ttf") format("truetype");
}

:root {
  --bs-blue: #1A71F3;
}

.btn-outline-primary {
  border-radius: 30px;
  font-size: 16px;
  --bs-btn-color: #1B98E0;
  --bs-btn-border-color: #1B98E0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1B98E0;
  --bs-btn-hover-border-color: #1B98E0;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1B98E0;
  --bs-btn-active-border-color: #1B98E0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1B98E0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1B98E0;
  --bs-gradient: none;
}

.btn-primary {
  border-radius: 30px;
  font-size: 16px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #1B98E0;
  --bs-btn-border-color: #1B98E0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1B98FF;
  --bs-btn-hover-border-color: #1B98FF;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1B98FF;
  --bs-btn-active-border-color: #1B98FF;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1B98E0;
  --bs-btn-disabled-border-color: #1B98E0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter" !important;
  background-color: #D3E2E6;
  overflow-x: hidden;
}

.content {
  background-color: #EFF3F4;
  margin: 90px 82px;
  border-radius: 22px;
  box-shadow: 0px 24px 55px #C7DADE;
}

.content .chart {
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding: 3px;
}

.content .chart .sub-title {
  font-weight: 700;
  font-size: 18px;
  margin: 14px 0px 0px 14px;
}

.content .chart .divider {
  color: #EEEEEE;
  opacity: 0.8;
  margin: 12px 14px 0px 14px;
}

.content .header {
  padding: 35px 50px;
}

.content .title {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #7097A0;
}

.content .card-body {
  padding: 0px 40px 20px 40px;
}

.table>thead>tr {
  font-weight: 700;
  font-size: 12px;
  border: 1px white;
}

.table>tbody>tr {
  font-weight: 500;
  font-size: 12px;
}

.table>tbody>tr {
  color: #247BA0;
}

.table>tbody>tr .first-td {
  color: #898989;
}

.table>tbody>tr .bar {
  background: #247BA0;
  padding: 0px 50px;
  border-radius: 4px;
}

.table>tfoot>tr {
  font-weight: 700;
  font-size: 12px;
  color: #247BA0;
}

.table>tfoot>tr>th {
  color: #505050;
}

.table>tbody .percentage {
  background-color: rgba(36,123,160,0.5);
  background-clip: content-box;
  border-radius: 0.7rem;
}